<!DOCTYPE html>
 <html>
     <head>
        <meta charset="utf-8"/>
        <title>Socket.io | Chatbot</title>
        <link rel='stylesheet' href='/style.css'/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
     </head>
     <body>
        <div class='container'>
            <div id='message-box' class='message-box'>
              <div id='output'>
               <div id='feedback' ></div>
              </div>
            </div>
           
            <div class='user-box'>
               <input type='text' id='user'class='input-text' placeholder="User..."/>
               <input type='text' id='message'class='input-text' placeholder="message..."/>
            </div>
            <div class='send-box'>
               <input type='button' id='btn-send' value='Send' style='background:#575ed8;color:#fff'/>
            </div>
        </div>
     </body>
     <script src="/socket.io/socket.io.js"></script>
      <script>
      const socket = io('http://localhost:5000');
      
      //Query Dom
      const message = document.getElementById('message');
      const box = document.getElementById('output');
      const user = document.getElementById('user');
      const button = document.getElementById('btn-send');
      const feedback = document.getElementById('feedback');
      //Emit events 
      button.addEventListener('click',()=>{
         socket.emit('chat',{
            message:message.value,
            user:user.value
         })
      })   
      socket.on('chat',(data)=>{
         feedback.innerHTML = '';
         box.innerHTML+='<p><strong>'+data.user+': '+data.message+'</strong></p>'
      })
      message.addEventListener('keypress',()=>{
         socket.emit('detect',user.value)
      })
      socket.on('detect',function(data){
         feedback.innerHTML ='<p><em>'+data +' is typying a message ...</em></p>'
      })   
      </script>
 </html>